{% load socialaccount %}
{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
  {% if login == 'true' %}
  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">Login with {{ provider.name }}</a>
  {% else %}
  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
    href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">Register with {{ provider.name }}</a>
  {% endif %}
{% endfor %}

