{% load user_extras%}
{% load static %}

<div class="android-navbar android" on>
    <button class="close-an-button" onclick="closeAndroidNavbar()">close</button>
    <div class="an-profile-section">
        {% if request.user.is_authenticated %}
        <img src="{{ request.user|get_profile_picture}}" alt="">
        <div class="an-user-detail-section">
            <div class="an-username-section">
                <span>{{ request.user.first_name }} {{ request.user.last_name }}</span>
                <span>@{{ request.user.username }}</span>
            </div>
            <div class="an-following-section">
                <span> following </span>
                <span> follower </span>                
            </div>
        </div>
        {% else %}
        <img src="{% static 'img/blank-profile-picture.png' %}" alt="profile picture">
        {% endif %}
    </div>
    <div class="an-links-section">
        <a onclick="closeAndroidNavbar()" href="">Home</a>
        <a onclick="closeAndroidNavbar()" href="">Profile</a>
        <a onclick="closeAndroidNavbar()" href="">Topics</a>
        <button onclick="closeAndroidNavbar()" class="logout-form-button">Logout</button>
    </div>
</div>