<div class="bottom-menu android">
    <ul class="bm-link-container">
        <li>
            <a href="{% url 'home' %}"><i class="fa-solid fa-house-chimney" {% if current == 'home' %} style="color:#00BA7C" {% endif %}></i></a>
        </li>
        <li>
            <a href="{% url 'search-topic' %}"><i class="fa-solid fa-magnifying-glass"></i></a>
        </li>
        <li>
            {% if request.user.is_authenticated %}
            <a href="{% url 'notifications' request.user.username %}"><i class="fa-regular fa-bell" {% if current == 'notifications' %} style="color:#00BA7C" {% endif %}><span class="notification-count none"></span></i></a>
            {% else %}
            <a href="{% url 'login' %}"><i class="fa-regular fa-bell" {% if current == 'notifications' %} style="color:#00BA7C" {% endif %}></i></a>
            {% endif %}
        </li>
        <li>
            <a href="">
                <i class="fa-regular fa-envelope" {% if current == 'messages' %} style="color:#00BA7C" {% endif %}></i>
            </a>
        </li>

    </ul>
</div>