{% load user_extras%}
{% load static %}

<div class="android-navbar android" style="left:-100%">
    <button class="close-an-button" onclick="closeAndroidNavbar()"><i class="fa fa-times" aria-hidden="true"></i></button>
    <div class="an-profile-section">
        {% if request.user.is_authenticated %}
        <img src="{{ request.user|get_profile_picture}}" alt="">
        <div class="an-user-detail-section">
            <div class="an-username-section">
                <span>{{ request.user.first_name }} {{ request.user.last_name }}</span>
                <span class="user-name">@{{ request.user.username }}</span>
            </div>
            <div class="an-following-section">
                <span> following </span>
                <span> follower </span>                
            </div>
        </div>
        {% else %}
        <img src="{% static 'img/blank-profile-picture.png' %}" alt="profile picture">
        {% endif %}
    </div>
    <div class="an-links-section">
        <a onclick="closeAndroidNavbar()" href=""><i class="fa-solid fa-house-chimney"></i> <span>Home</span></a>
        {% if request.user.is_authenticated %}
        <a onclick="closeAndroidNavbar()" href="{% url 'profile-page' request.user.username %}"><i class="fa-regular fa-user"></i> <span>Profile</span></a>
        {% endif %}

        <a onclick="closeAndroidNavbar()" href="{% url 'room_list' %}"><i class="fa-regular fa-envelope"></i> <span>Messages</span> </a>
        <a onclick="closeAndroidNavbar()" href=""><i class="fa-regular fa-bell"><span class="notification-count none"></span></i> <span>Notifications</span> </a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'create-tweet' %}"><button class="tweet-button">Tweet</button></a>
        <button onclick="showLogoutForm()" class="logout-form-button">Logout</button>
        {% else %}
        <a href="{% url 'login' %}"><button class="login-form-button">Login</button></a>
        <a href="{% url 'register' %}"><button class="signup-form-button">Signup</button></a>
        {% endif %}
    </div>
</div>