{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href=" {% static 'css/Fork-Awesome/css/fork-awesome.min.css' %}?version=1"> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock title %}Twitter Clone</title>
</head>

<body>
    {% include 'pages/android_navbar.html' %}


    {% block content %}
    {% endblock content %}

    {% include 'pages/android_bottom_menu.html' %}

    <script src="https://kit.fontawesome.com/64fc8803a9.js" crossorigin="anonymous"></script>
    <script>
        LiveUpdates()

        // this function handles all functionalities that make the website realtime responsive
        function LiveUpdates() {
            setInterval(() => {
                checkTweetListState()
                refreshLikes()
                refreshRepliesCount()
                refreshTweetCount()

            }, 1000)

        }

        // iterate through the DOM tree and checks if a tweet currently displayed has been deleted or not
        function checkTweetListState() {
            tweetCount = document.querySelector('#tweet-count')
            if (tweetCount !== null) {
                document.querySelectorAll("input[name='tweet-id']").forEach(async item => {
                    let tweetBody = document.querySelector(`.body-${item.value}`)
                    let response = await fetch(`{% url 'check-tweet-existence' %}?pk=${item.value}`, {
                        method: 'GET',
                        headers: {
                            'X-Requested-With': 'checkTweetExistence',
                            'Content-Type': 'application/json'
                        }
                    })

                    let data = await response.json()
                    if (await data['exists'] == false) {
                        tweetCount.value = `${parseInt(tweetCount.value) - 1}`;
                        tweetBody.classList.add('.none')
                    }
                })
            }
        }

        // constantly refreshes the number of replies and helps to highlight if a user has replied a tweet
        function refreshRepliesCount() {
            repostButtonList = document.querySelectorAll('.tweet-repost-button')
            if (repostButtonList !== null) {
                repostButtonList.forEach(async item => {

                    if (item !== null) {
                        let response = await fetch(`{% url 'get-repost-count' %}?pk=${parseInt(item.value)}`, {
                            method: 'GET',
                            headers: {
                                'X-Requested-With': 'repostTweetCount',
                                'Content-Type': 'application/json',
                            }
                        })

                        let data = await response.json()
                        let repostCountText = document.querySelector(`#tweet-repost-${item.value}`)
                        let retweetIcon = document.querySelector(`.retweet-icon-${item.value}`)

                        if (await !data['error'] && (await data['action'] == 'reposted' || await data['is_a_repost'] == true)) {
                            if (repostCountText !== null) repostCountText.innerHTML = await data['count']
                            if (retweetIcon !== null) retweetIcon.classList.add('reposted')
                        } else if (await !data['error']) {
                            if (repostCountText !== null) repostCountText.innerHTML = await data['count']
                            if (retweetIcon !== null) retweetIcon.classList.remove('reposted')
                        }
                    }
                })
            }
        }

        // constantly checks if new tweets have beign posted, if yes displays a message to alert user
        async function refreshTweetCount() {
            let countElement = document.querySelector('#tweet-count')
            if (countElement !== null) {
                let count = parseInt(countElement.value)
                let response = await fetch(`{% url 'refresh-tweet-count' %}?count=${count}`, {
                    method: 'GET',
                    headers: {
                        'X-Requested-With': 'refreshTweetCount',
                        'Content-Type': 'application/json'
                    }
                })

                data = await response.json()
                query = document.querySelector('#searched-query').value
                if (await data['has_new'] && query == '') {
                    document.querySelector('.new-tweet-message').classList.remove('none')
                } else {
                    document.querySelector('.new-tweet-message').classList.add('none')
                }

                if (count == 0) {
                    messageContainer = document.querySelector('.new-tweet-message')
                    messageContainer.classList.remove('none')
                    document.querySelector('.new-tweet-message a h5').innerHTML = 'No tweet found ! ( click to Show New tweets)'

                }
            }
        }

        // constantly refreshes the number of likes a tweet has and highlights if the user has liked a tweet
        function refreshLikes() {
            document.querySelectorAll('.tweet-like-button').forEach(async item => {
                if (item !== null) {
                    let response = await fetch(`{% url 'get-like-count' %}?pk=${parseInt(item.value)}`, {
                        method: 'GET',
                        headers: {
                            'X-Requested-With': 'refreshLikes',
                            'Content-Type': 'application/json',
                        }
                    })

                    let data = await response.json()
                    let likeCountText = document.querySelector(`#tweet-like-${item.value}`)

                    if (await !data['error'] && await data['action'] == 'liked') {
                        if (likeCountText !== null) likeCountText.innerHTML = await data['count']
                        item.innerHTML = `<i class="fa fa-solid fa-heart"></i>`
                    } else if (await !data['error']) {
                        if (likeCountText !== null) likeCountText.innerHTML = await data['count']
                        item.innerHTML = `<i class="fa fa-regular fa-heart"></i>`
                    }

                }
            })
        }


        //handle the double scrolling effect of the mid tab and right-most tab
        window.addEventListener('scroll', () => {
            const standartHeight = document.querySelector('.navbar').offsetHeight
            let suggestionsContainer = document.querySelector('.suggestions')

            const maxRemainingHeight = suggestionsContainer.scrollHeight - standartHeight
            const stepLength = maxRemainingHeight / standartHeight

            suggestionsContainer.scrollTop = window.scrollY * stepLength
        })


        // changes the apearance of the search on focus or on blur
        function changeSearchBar(event, state) {
            if (state == 'focused') {
                const form = document.querySelector('.search-form')
                const formIcon = document.querySelector('.search-form > label > i')
                form.style.backgroundColor = '#15202B'
                form.style.border = '2px solid #00A770'
                formIcon.style.color= '#00A770'
            } else {
                const form = document.querySelector('.search-form')
                const formIcon = document.querySelector('.search-form > label > i')
                form.style.backgroundColor = '#202b37'
                form.style.border = 0
                formIcon.style.color = '#F7F9F9'

            }
        }

        function changeSearchBarSendIcon(event) {
            if (event.currentTarget.value != '') {
                document.querySelector('#submit-label').classList.remove('none')
            } else {
                document.querySelector('#submit-label').classList.add('none')
            }
        }


        //handles the logout form
        function showLogoutForm() {
            document.body.style.overflow = 'hidden'
            let logoutFormFilter = document.querySelector('.logout-form-filter')
            logoutFormFilter.classList.remove('none')
            document.querySelector('#logout-cancel-button').addEventListener('click', closeLogoutForm)

        }

        function closeLogoutForm() {
            logoutFormFilter = document.querySelector('.logout-form-filter')
            logoutFormFilter.classList.add('none')
            document.body.style.overflow = 'scroll'
        }


        // displays the android navbar on trigger by the profile picture on android view
        function showAndroidNavbar() {
            document.body.style.overflow = 'hidden'
            document.querySelector('.android-navbar').style.left = '0%'
        }


        function closeAndroidNavbar() {
            document.body.style.overflow = 'scroll'
            document.querySelector('.android-navbar').style.left = '-100%'
        }



    </script>
    {% block script %}
    {% endblock script %}
</body>

</html>