{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?version=1">
    <title>{% block title %}{% endblock title %}Twitter Clone</title>
</head>

<body>
    {% block content %}
    {% endblock content %}

    <script>

        LiveUpdates()

        function LiveUpdates() {
            setInterval(() => {
                refreshLikes()

                function refreshLikes() {
                    document.querySelectorAll('.tweet-like-button').forEach(async item => {
                        let response = await fetch(`{% url 'get-like-count' %}?pk=${parseInt(item.value)}`, {
                            method: 'GET',
                            headers: {
                                'X-Requested-With': 'refreshLikes',
                                'Content-Type': 'application/json',
                            }
                        })

                        let data = await response.json()
                        let likeCountText = document.querySelector(`#tweet-like-${item.value}`)
                        likeCountText.innerHTML = await data['count']

                        if (await data['action'] == 'liked') {
                            item.innerHTML = 'Dislike'
                        } else {
                            item.innerHTML = 'Like'
                        }

                    })
                }
            }, 1000)
        }


        //handle the double scrolling effect
        window.addEventListener('scroll', () => {
            const standartHeight = document.querySelector('.navbar').offsetHeight
            let suggestionsContainer = document.querySelector('.suggestions')

            const maxRemainingHeight = suggestionsContainer.scrollHeight - standartHeight
            const stepLength = maxRemainingHeight / standartHeight

            suggestionsContainer.scrollTop = window.scrollY * stepLength
        })

        //handles the logout form
        let logoutFormButton = document.querySelector('.logout-form-button')
        if (logoutFormButton !== null) {
            logoutFormButton.addEventListener('click', () => {
                document.body.style.overflow = 'hidden'
                let logoutFormFilter = document.querySelector('.logout-form-filter')
                logoutFormFilter.classList.remove('none')
                document.querySelector('#logout-cancel-button').addEventListener('click', closeLogoutForm)
            })
        }

        function closeLogoutForm() {
            logoutFormFilter = document.querySelector('.logout-form-filter')
            logoutFormFilter.classList.add('none')
            document.body.style.overflow = 'scroll'
        }


    </script>

    {% block script %}
    {% endblock script %}
</body>

</html>