{% extends 'pages/base.html' %}

{% block content %}
<div class="tweet-form-filter">
    <div id="tweet-form-container">
        <div class="tweet-form-header">
            <a class="back-arrow" href="{% url 'home' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            <h3>Create Tweet</h3>
        </div>

        <form id="tweet-form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-input">
                <label for="{{ field.id_for_label }}">{{field.label}}</label>
                {{ field }}
            </div>
            {% endfor %}

            <button type="submit">Post</button>
        </form>
    </div>
</div>
{% endblock content %}