{% extends 'pages/base.html' %}
{% load user_extras tweet_extras %}

{% block content %}
<div class="logout-form-filter none">
    {% include 'account/logout_form.html' %}
</div>

<div class="menu-bar tweet-detail-menu">
    <a class="back-arrow" href="{% url 'profile-page' user.username %}"><i class="fa-solid fa-arrow-left"></i></a>
    <h2>Connections</h2>
</div>


<div class="container">

    <div class="navbar">
        {% include 'pages/navbar.html' %}
    </div>
    <div class="main-content">
        <div class="connections-wrapper">
            {% for profile in connections %}
            <div class="connection-body">
                <div class="profile-container">
                    <a href="{% url 'profile-page' profile.user.username %}">
                        <img src="{{ profile.user|get_profile_picture }}" alt="">
                    </a>
                </div>
                <div class="connection-container">

                    <div class="name-section">
                        <a href="{% url 'profile-page' profile.user.username %}">
                            <span>{{ profile.user.first_name }} {{ profile.user.last_name }}</span>
                        </a>
                        <small>@{{ profile.user.username }}</small>
                    </div>

                    <div class="bio-section">
                        <div>{{ profile.bio|get_bio_summary }}</div>
                    </div>

                    {% if profile.user != request.user %}
                    <button class="follow-button" onclick="followingAction()">
                        {% if request.user.profile in connections %}
                        <span><i class="fa-solid fa-user-minus"></i> Un follow</span>
                        {% else %}
                        <span><i class="fa-solid fa-user-plus"></i> Follow</span>
                        {% endif %}
                    </button>
                    {% endif %}

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="suggestions">
        {% include 'tweet/popular_topics_list.html' %}
    </div>
</div>
{% endblock content %}