{% extends 'pages/base.html' %}
{% load user_extras tweet_extras %}

{% block content %}
<div class="logout-form-filter none">
    {% include 'account/logout_form.html' %}
</div>

<div class="menu-bar tweet-detail-menu">
    <a class="back-arrow" href="{% url 'profile-page' user.username %}"><i class="fa-solid fa-arrow-left"></i></a>
    <h2>Connections</h2>
</div>


<div class="container">

    <div class="navbar">
        {% include 'pages/navbar.html' %}
    </div>
    <div class="main-content connection-content">
        <div class="connections-wrapper">
            {% for profile in connections %}
            <div class="connection-body">
                <div class="profile-container">
                    <a href="{% url 'profile-page' profile.user.username %}">
                        <img src="{{ profile.user|get_profile_picture }}" alt="">
                    </a>
                </div>
                <div class="connection-container">

                    <div class="name-section">
                        <a href="{% url 'profile-page' profile.user.username %}">
                            <span>{{ profile.user.first_name }} {{ profile.user.last_name }}</span>
                        </a>
                        <small>@{{ profile.user.username }}</small>
                    </div>

                    <div class="bio-section">
                        <div>{{ profile.bio|get_bio_summary }}</div>
                    </div>

                    {% if profile.user != request.user %}
                    <button class="follow-button" onclick="followingAction(event)" value="{{ profile.user.id }}">
                        {% if request.user|is_following:profile %}
                        <span>Following <i class="fa-solid fa-user-check"></i></span>
                        {% else %}
                        <span>Follow <i class="fa-solid fa-user-plus"></i></span>
                        {% endif %}
                    </button>
                    {% endif %}

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="suggestions">
        {% include 'tweet/popular_topics_list.html' %}
    </div>
</div>
{% endblock content %}


{% block script %}
<script>
    async function followingAction(event) {
        followButton = event.currentTarget
        response = await fetch(`{% url 'follow-connection' %}?user_id=${parseInt(followButton.value)}`, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'followButton',
                'Content-Type': 'application/json'
            }
        })

        let data = await response.json()
        if (await data['followed']) {
            followButton.innerHTML = `<span>Following  <i class="fa-solid fa-user-check"></i></span>`

        } else {
            followButton.innerHTML = `<span>Follow  <i class="fa-solid fa-user-plus"></i></span>`
        }
    }

</script>
{% endblock script %}