{% extends 'pages/base.html' %}
{% load i18n %}
{% load static %}
{% load user_extras %}
{% load tweet_extras %}
{% load account socialaccount %}
{% block content %}

{% if request.user.is_authenticated %}
<a href="{% url 'create-tweet' %}"><button class="floating-tweet-button android"><i class="fa fa-plus"
            aria-hidden="true"></i></button></a>
{% endif %}


<div class="logout-form-filter none">
    {% include 'account/logout_form.html' %}
</div>

<input id="tweet-count" value="{{ all_tweets.count }}" class="none">
<input id="searched-query" value="{{ search_query }}" class="none">

<div class="menu-bar">
    {% if request.user.is_authenticated %}
    <div class="android-profile-info android">
        <img onclick="showAndroidNavbar()" src="{{ request.user|get_profile_picture }}" alt="">
    </div>
    {% else %}
    <div class="android-profile-info android">
        <img onclick="showAndroidNavbar()" src="{% static 'img/blank-profile-picture.png' %}" alt="profile-picture">
    </div>
    {% endif %}

    <p><i class="fa-solid fa-paw"></i> Home</p>
    <div class="nav-link-wrapper">
        <button class="menu-btn active-menu-btn" onclick="showContent(event, 'For You')">For you</button>
        {% if request.user.is_authenticated %}
        <button class="menu-btn" onclick="showContent(event, 'Following')">Following</button>
        {% else %}
        <button class="menu-btn"><a href="{% url 'login' %}">Following</a></button>
        {% endif %}
    </div>
</div>


<div class="container">

    <div class="navbar">
        {% include 'pages/navbar.html' with current='home' %}
    </div>
    <div class="main-content">
        {% include 'tweet/tweet_list.html' with tweet_list=all_tweets %}
    </div>
    <div class="suggestions">
        {% include 'tweet/popular_topics_list.html' with topics=topics %}
    </div>
</div>

{% endblock content %}


{% block script %}
<script>
    //handle the liking of posts
    async function likeTweet(event) {
        let item = event.currentTarget
        fetch(`{% url 'like-action' %}?pk=${item.value}`, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'LikeButton',
                'Content-Type': 'application/json',
            }
        })
    }


    async function retweet(event) {
        let item = event.currentTarget
        let response = await fetch(`{% url 'retweet' %}?pk=${item.value}`, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'retweetButton',
                'Content-Type': 'application/json'
            }
        })

        let data = await response.json()
    }


    function showContent(event, content_type) {
        document.querySelectorAll('.menu-btn').forEach(item => {
            item.classList.remove('active-menu-btn')
        })
        event.currentTarget.classList.add('active-menu-btn')
        if (content_type == 'For You') {
            document.querySelector('.main-content').innerHTML = `{% include 'tweet/tweet_list.html' with tweet_list=all_tweets %}`
        } else {
            document.querySelector('.main-content').innerHTML = `{% include 'tweet/tweet_list.html' with tweet_list=following_tweets %}`
        }
    }

    let lastScrollOffset = 0
    let menuBarTop = 0
    window.addEventListener('scroll', () => {
        const menuBar = document.querySelector('.menu-bar')

        if (window.pageYOffset > lastScrollOffset) {
            if (Math.floor(menuBarTop) <= 0 && Math.floor(menuBarTop) > -7) {
                menuBarTop -= 1
                menuBar.style.top = `${menuBarTop}%`
            }
        } else {
            if (Math.floor(menuBarTop) >= -7 && Math.floor(menuBarTop) < 0) {
                menuBarTop += 1
                menuBar.style.top = `${menuBarTop}%`
            }

        }

        if (menuBarTop > 0 ) {
            menuBar.style.top = `0`
        }
        lastScrollOffset = window.pageYOffset
    })

</script>
{% endblock script %}