{% extends 'pages/base.html' %}
{% load i18n %}
{% load user_extras %}
{% load account socialaccount %}
{% block content %}

<div class="logout-form-filter none">
    {% include 'account/logout_form.html' %}
</div>

<div class="menu-bar">
    {% if request.user.is_authenticated %}
    <div class="android-profile-info android">
        <img onclick="showAndroidNavbar()" src="{{ request.user|get_profile_picture }}" alt="">
    </div>
    {% endif %}
    <h2>All tweets</h2>
    <div class="nav-link-wrapper">
        <button class="menu-btn active-menu-btn" onclick="showContent(event, 'For You')">For you</button>
        {% if request.user.is_authenticated %}
        <button class="menu-btn" onclick="showContent(event, 'Following')">Following</button>
        {% else %}
        <button class="menu-btn"><a href="{% url 'login' %}">Following</a></button>
        {% endif %}
    </div>
</div>


<div class="container">

    <div class="navbar">
        {% include 'pages/navbar.html'%}
    </div>
    <div class="main-content">
        {% include 'tweet/tweet_list.html' with tweet_list=all_tweets %}
    </div>
    <div class="suggestions">
        <h2>Popular topics</h2>
        <h2>Popular topics</h2>
        <h2>Popular topics</h2>
        <h2>Popular topics</h2>
        <h2>Popular topics</h2>
        <h2>Popular topics</h2>
        <h2>Popular topics</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
    </div>
</div>

{% endblock content %}


{% block script %}
<script>
    //handle the liking of posts
    async function likeTweet(event) {
        console.log('liked')
        let item = event.currentTarget
        fetch("/", {
            method: 'GET',
            headers: {
                'X-Requested-With': 'LikeButton',
                'Content-Type': 'application/json',
                'id': parseInt(item.value)
            }
        })
    }

    function showContent(event, content_type) {
        document.querySelectorAll('.menu-btn').forEach(item => {
            item.classList.remove('active-menu-btn')
        })
        event.currentTarget.classList.add('active-menu-btn')
        if (content_type == 'For You') {
            document.querySelector('.main-content').innerHTML = `{% include 'tweet/tweet_list.html' with tweet_list=all_tweets %}`
        } else {
            document.querySelector('.main-content').innerHTML = `{% include 'tweet/tweet_list.html' with tweet_list=following_tweets %}`
        }
    }
</script>
{% endblock script %}