{% load user_extras %}

<ul class="link-container">
    <li>
        <a class="nav-link" href="{% url 'home' %}">
            <i class="fa-solid fa-house-chimney" {% if current == 'home' %} style="color:#00BA7C" {% endif %}></i>
            <span>Home</span>
        </a>
    </li>
    {% if request.user.is_authenticated %}
    <li>
        <a class="nav-link" href="{% url 'profile-page' request.user.username %}">
            <i class="fa-regular fa-user" {% if current == 'profile' %} style="color:#00BA7C" {% endif %}></i> 
            <span>Profile</span> 
        </a>
    </li>
    <li>
        <a class="nav-link" href="{% url 'notifications' request.user.username %}">
            <i class="fa-regular fa-bell" {% if current == 'notifications' %} style="color:#00BA7C" {% endif %}><span class="notification-count none"></span></i>
            <span>Notifications</span>
        </a>
    </li>
    <li>
        <a class="nav-link" href="">
            <i class="fa-regular fa-envelope" {% if current == 'messages' %} style="color:#00BA7C" {% endif %}></i>
            <span>Messages</span>
        </a>
    </li>
    <a href="{% url 'create-tweet' %}">
        <button class="tweet-button">Tweet</button>
    </a>
    {% else %}
    <li>
        <a class="nav-link" href="{% url 'login' %}">
            <i class="fa-regular fa-user"></i>
            <span>Profile</span>
        </a>
    </li>
    <li>
        <a class="nav-link" href="{% url 'login' %}">
            <i class="fa-regular fa-envelope"></i>
            <span>Messages</span>
        </a>
    </li>
    <a href="{% url 'login' %}">
        <button class="tweet-button">Tweet</button>
    </a>
    {% endif %} 
</ul>
<div class="userinfo-container">
    {% if request.user.is_authenticated %}
    <div class="navbar-profile-picture">
        <img src="{{ request.user|get_profile_picture }}" alt="">
    </div>
    {% endif %}
    
    <div class="navbar-profile-info">
        {% if request.user.is_authenticated %}
        <span>{{ request.user.first_name }} {{ request.user.last_name }}</span>
        <span><a href="">@{{ request.user.username }}</a></span>
        <button class="logout-form-button" onclick="showLogoutForm()">Logout</button>
        {% else %}
        <a href="{% url 'login' %}"><button>Login</button></a>
        <a href="{% url 'register' %}"><button>Register</button></a>
        {% endif %}

    </div>
</div>

