{% extends 'pages/base.html' %}

{% block content %} 
    <div class="logout-form-filter none">
        {% include 'account/logout_form.html' %}
    </div>

    <div class="menu-bar">
        <h2>Tweet Detail</h2>
    </div>


    <div class="container">
    
        <div class="navbar">
            {% include 'pages/navbar.html' %}
        </div>
        <div class="main-content">

            {% include 'tweet/tweet_detail.html' %}
        </div>
        <div class="suggestions">
        <h2>Popular topics</h2>
        <h2>Popular topics</h2>
        <h2>Popular topics</h2>
        <h2>Popular topics</h2>
        <h2>Popular topics</h2>
        <h2>Popular topics</h2>
        <h2>Popular topics</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Popular topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        <h2>Populdfsadfsdafsdfar topicsddfdfdfdf</h2>
        </div>
    </div>


{% endblock content %}

{% block script %}
<script>
    //handle the liking of posts
        async function likeTweet(event) {
            console.log('liked')
            let item = event.currentTarget
            fetch("/", {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'LikeButton',
                    'Content-Type': 'application/json',
                    'id': parseInt(item.value)
                }
            })
        }
</script>
{% endblock script %}