{% extends 'pages/base.html' %}

{% block content %}
<div class="reply-form-filter">
    <div id="reply-form-container">
        <div class="reply-form-header">
            <a class="back-arrow" href="{% url 'home' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            <h3>Create Tweet</h3>
        </div>

        <form id="reply-form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-input">
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                {{field}}
            </div>
            {% endfor %}

            <input type="submit" value="Post">
        </form>
    </div>
</div>
{% endblock content %}