{% load tweet_extras %}
{% load user_extras %}

{% if tweet is not None %}
<div class="profile-container">
    <a href="{% url 'profile-page' tweet.author.username %}">
        <img src="{{ tweet.author|get_profile_picture }}" alt="">
    </a>
</div>
<div class="tweet-container">

    <div class="name-section">
        <a  href="{% url 'profile-page' tweet.author.username %}">
            <span>{{ tweet.author.first_name }} {{ tweet.author.last_name }}</span>
        </a>
        <small>@{{ tweet.author.username }} . {{tweet.date_created|timesince }} ago</small>
    </div>

    <div class="body-section">
        <a class="tweet-link" href="{% url 'tweet-detail' tweet.id %}">
            <p>
                {% for word in tweet.body|format_tweet_text %}
                {% if word|get_value:'type' == 'text' %}
                {{ word|get_value:'word' }}
                {% elif word|get_value:'type' == 'username' %}
                <a class="reference-link" href="">{{ word|get_value:'word' }} </a>
                {% else %}
                <a class="reference-link" href="">{{ word|get_value:'word' }} </a>
                {% endif %}
                {% endfor %}
            </p>
        </a>
    </div>
    {% if tweet.attachement %}
    <div class="attachement-section">
        <img src="{{ tweet.attachement.url }}" alt="attachement" class="tweet-attachement">
    </div>
    {% endif %}

    {% if request.user.is_authenticated %}
    <div class="actions-section">
        {% csrf_token %}
        <div class="action blue-action">
            <a href="{% url 'reply-tweet' tweet.id %}"><button><i class="fa fa-regular fa-comment"></i></button></a>
            <span>{{ tweet.reply_set.all.count }}</span>
        </div>

        <div class="action pink-action">
            <button onclick="likeTweet(event)" class="tweet-like-button" value="{{ tweet.id }}">
                {% if request.user|has_liked:tweet.id %}
                <span><i class="fa fa-solid fa-heart"></i></span>
                {% else %}
                <span><i class="fa fa-regular fa-heart"></i></span>
                {% endif %}
            </button>
            <span id="tweet-like-{{ tweet.id }}">{{ tweet.id|get_like_count }}</span>
        </div>

        <div class="action green-action">
            <button class="tweet-repost-button" onclick="retweet(event)" value="{{tweet.id}}"><i class="fa fa-solid fa-retweet retweet-icon-{{tweet.id}}"></i></button>
            <span id="tweet-repost-{{ tweet.id }}">{{ tweet.sources.all.count }}</span>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}