<div class="topics-list">
    <div class="topic-container">
        <p>Trending</p>
        <h5>Popular</h5>
        <p>1,500 tweets</p>
    </div>
    <div class="topic-container">
        <p>Trending</p>
        <h5>Popular</h5>
        <p>1,500 tweets</p>
    </div>
    <div class="topic-container">
        <p>Trending</p>
        <h5>Popular</h5>
        <p>1,500 tweets</p>
    </div>
    <div class="topic-container">
        <p>Trending</p>
        <h5>Popular</h5>
        <p>1,500 tweets</p>
    </div>
    <div class="topic-container">
        <p>Trending</p>
        <h5>Popular</h5>
        <p>1,500 tweets</p>
    </div>
    <div class="topic-container">
        <p>Trending</p>
        <h5>Popular</h5>
        <p>1,500 tweets</p>
    </div>
    <div class="topic-container">
        <p>Trending</p>
        <h5>Popular</h5>
        <p>1,500 tweets</p>
    </div>
    <div class="topic-container">
        <p>Trending</p>
        <h5>Popular</h5>
        <p>1,500 tweets</p>
    </div>
    <div class="topic-container">
        <p>Trending</p>
        <h5>Popular</h5>
        <p>1,500 tweets</p>
    </div>
    <div class="topic-container">
        <p>Trending</p>
        <h5>Popular</h5>
        <p>1,500 tweets</p>
    </div>
    <div class="topic-container">
        <p>Trending</p>
        <h5>Popular</h5>
        <p>1,500 tweets</p>
    </div>
    <div class="topic-container">
        <p>Trending</p>
        <h5>Popular</h5>
        <p>1,500 tweets</p>
    </div>
</div>