{% load user_extras %}
{% load tweet_extras %}
<div class="tweet-detail-wrapper">
    <div class="tweet-body">
        <div class="profile-container">
            <img src="{{ tweet.author|get_profile_picture }}" alt="">
        </div>
        <div class="tweet-container">

            <div class="name-section">
                <span>{{ tweet.author.first_name }} {{ tweet.author.last_name }}</span>
                <span>@{{ tweet.author.username }}</span>
            </div>

            <div class="body-section">
                <p>
                    {% for word in tweet.body|format_tweet_text %}
                    {% if word|get_value:'type' == 'text' %}
                    {{ word|get_value:'word' }}
                    {% elif word|get_value:'type' == 'username' %}
                    <a class="reference-link" href="">{{ word|get_value:'word' }} </a>
                    {% else %}
                    <a class="reference-link" href="">{{ word|get_value:'word' }} </a>
                    {% endif %}
                    {% endfor %}
                </p>
            </div>
            {% if tweet.attachement %}
            <div class="attachement-section">
                <img src="{{ tweet.attachement.url }}" alt="attachement" class="tweet-attachement">
            </div>
            {% endif %}
            <div class="actions-section">
                {% csrf_token %}
                <div>
                    <a href="{% url 'reply-tweet' tweet.id %}"><button>reply</button></a> ()
                </div>
                <div>
                    <button class="reply-like-button" value="{{ reply.id }}">like</button>
                    <span id="reply-like-{{ reply.id }}">{{ tweet.tweetlike_set.all.count }}</span>
                </div>
                <div>
                    <button>repost</button> ({{ tweet.repost_set.all.count }})
                </div>
            </div>
        </div>

    </div>
    <hr>

    {% for reply in replies %}
    <div class="reply-body">
        <div class="profile-container">
            <img src="{{ reply.author|get_profile_picture }}" alt="">
        </div>
        <div class="reply-container">

            <div class="name-section">
                <span>{{ reply.author.first_name }} {{ reply.author.last_name }}</span>
                <span>@{{ reply.author.username }}</span>
            </div>

            <div class="body-section">
                <p>
                    {% for word in reply.body|format_tweet_text %}
                    {% if word|get_value:'type' == 'text' %}
                    {{ word|get_value:'word' }}
                    {% elif word|get_value:'type' == 'username' %}
                    <a class="reference-link" href="">{{ word|get_value:'word' }} </a>
                    {% else %}
                    <a class="reference-link" href="">{{ word|get_value:'word' }} </a>
                    {% endif %}
                    {% endfor %}
                </p>
            </div>
            {% if reply.attachement %}
            <div class="attachement-section">
                <img src="{{ reply.attachement.url }}" alt="attachement" class="tweet-attachement">
            </div>
            {% endif %}
            <!-- <div class="actions-section">
                {% csrf_token %}
                <div>
                    <button>reply</button> ()
                </div>
                <div>
                    <button class="tweet-like-button" value="{{ tweet.id }}">like</button>
                    <span id="tweet-like-{{ tweet.id }}">{{ tweet.tweetlike_set.all.count }}</span>
                </div>
                <div>
                    <button>repost</button> ({{ reply.repost_set.all.count }})
                </div>
            </div> -->
        </div>

    </div>
    <hr>

    {% endfor %}
</div>