:root {
    --main-content-width: 42.8%;
    --main-content-left: 25.6%;
    --main-content-top: 14.2%;
    --main-content-height: 100vh;

    --substitute-content-top: 7.2%;

    --navbar-height: var(--main-content-height);
    --navbar-width: 26%;
    --navlink-container-height: 40vh;
    --navlink-container-width: 50%;
    --navuser-container-height: 10vh;
    --navuser-container-width: var(--navlink-container-width);

    --suggestions-top: 0;
    --suggestions-right: 0;
    --suggestions-width: 31.9%;
    --suggestions-height: var(--main-content-height);


    --tweet-container-max-width: 100%;
    --tweet-container-max-height: 80%;

    --profile-image-width: 50px;
    --attachement-image-max-width: 90%;
    --attachtment-image-max-height: 80vh;

    --actions-section-min-width: 100%;
}

/*----------------------------------------------------------Main side tabs containders-----------------------------------------*/

/* main container start */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans');

body {
    background-color: #15202B;
    color: #F7F9F9;
    font-family: 'Noto Sans', 'Segoe UI', sans-serif;
    font-size: 0.95rem;
}

hr {
    border: 0.001rem solid #38444D;
}

a {
    text-decoration: none;
    color: #00A770
}

i {
    color: #38444D;
}

.container {
    height: 100vh;
    width: 100%;
}


.menu-bar {
    position: fixed;
    background-color: #15202b73;
    z-index: 2;
    top: 0;
    left: var(--main-content-left);
    width: var(--main-content-width);
    height: calc(var(--main-content-top) - 1%);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid #38444D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F7F9F9;
}

.profile-menu,
.tweet-detail-menu {
    height: calc(var(--substitute-content-top) - 1%);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.tweet-detail-menu a,
.profile-menu a {
    position: absolute;
    left: 5%;
}

.nav-link-wrapper {
    position: relative;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F7F9F9;
}

.menu-btn {
    color: #F7F9F9;
    font-size: 1rem;
    position: relative;
    background-color: inherit;
    height: 100%;
    width: 50%;
    border: 0;
    transition: 0.2s ease;
}

.menu-btn:hover {
    background-color: #ffffff16;
}

.active-menu-btn::after {
    content: "";
    border: 2px solid #00A770;
    border-radius: 30px;
    width: 20%;
    height: 2px;
    background-color: #00A770;
    position: absolute;
    bottom: 0;
    left: 40%;
    transition: 0.5s ease;
}

.back-arrow {
    box-sizing: border-box;
    padding: 0.5rem;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-out;
}

.back-arrow i {
    color: #F7F9F9
}

.back-arrow:hover {
    background-color: #0c704f61;
}

.back-arrow:hover i {
    color: #00A770;
}

/* main container end */

/* navbar tab start */

.navbar {
    font-size: 1.3rem;
    position: fixed;
    box-sizing: border-box;
    padding-top: 5rem;
    padding-bottom: 50px;
    left: 0;
    top: 0;
    height: 100vh;
    width: var(--navbar-width);
    border-right: 1px solid #38444D;
    ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    background-color: #15202B;
}


.navbar a,
.navbar i {
    color: #F7F9F9;
}

.navbar i {
    font-size: 1.7rem;
    margin-right: 1rem;
}

.navbar .nav-link {
    box-sizing: border-box;
    border-radius: 1.9rem;
    padding: 1rem 2.5rem 1rem 1rem;
    transition: 0.3s ease-out;
}

.navbar .nav-link:hover {
    background-color: #1C2732;
}

.navbar .active-link {
    font-weight: 700;
}

.navbar .link-container {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.navbar .tweet-button {
    background-color: #00BA7C;
    box-sizing: border-box;
    margin-left: 0.5rem;
    padding: 1rem 4rem 1rem 4rem;
    font-size: 1rem;
    border: none;
    border-radius: 1.9rem;
    color: #F7F9F9;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s ease;
}

.navbar .tweet-button:hover {
    background-color: #05885c;
}

.navbar .userinfo-container {
    padding: 0;
    margin: 0;
    height: var(--navuser-container-height);
    width: var(--navuser-container-width);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1rem;
}

.navbar .userinfo-container span {
    font-weight: 500;
}

.navbar .userinfo-container span a {
    color: #96a1a9;
    font-weight: 300;
}

.navbar-profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.navbar-profile-info button {
    background-color: #00BA7C;
    box-sizing: border-box;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1.2rem;
    color: #F7F9F9;
    margin-top: 1rem;
    border: 0;
}

.navbar-profile-picture img {
    position: relative;
    margin-right: 1.2rem;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

/* navbar tab end */

/* main content tab start */
.main-content {
    position: relative;
    top: var(--main-content-top);
    left: var(--main-content-left);
    width: var(--main-content-width);
    height: var(--main-content-height);
    margin-left: 0px;
}

.profile-content,
.tweet-detail-content {
    top: var(--substitute-content-top);
}

/* main content tab end */



/* seggestion tab start */
.suggestions {
    position: fixed;
    right: 0;
    width: var(--suggestions-width);
    height: var(--suggestions-height);
    top: var(--suggestions-top);
    z-index: 300;
    overflow-y: scroll;
    scrollbar-width: thin;
    background-color: #15202B;
    scrollbar-color: #888 #fff;
    border-left: 1px solid #38444D;
    ;
}

.suggestions::-webkit-scrollbar {
    width: 6px;
}

.suggestions::-webkit-scrollbar-track {
    background-color: #fff;
}

.suggestions::-webkit-scrollbar-thumb {
    background-color: #888;
}

.topics-list {
    position: relative;
    background-color: #24303d;
    box-sizing: border-box;
    width: 70%;
    margin: 1rem;
    padding: 1.2rem;
    border-radius: 20px;
    line-height: 0.5rem;
}

.topic-container {
    margin-bottom: 3rem;
}

/* suggestion tab end */





/*-----------------------------------------------substitue content of the main-content ---------------------------------------*/
/* tweet-list body start */

.tweet-body,
.reply-body {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid #38444D;
    transition: 0.4s ease-out;
    /* border: 3px solid green; */
}

.reply-body {
    border-bottom: none;
}

.reply-tweet-body {
    border-bottom: none;
    border-top: 1px solid #38444D;
}

.tweet-body:hover,
.reply-body:hover {
    background-color: #1C2732;
}

.reply-title {
    justify-content: center;
}

.tweet-list-wrapper,
.tweet-detail-wrapper,
.profile-content-wrapper,
.profile-tabs {
    position: relative;
    margin: 0;
    /* border: 2px solid yellow; */
}

.profile-container img {
    position: relative;
    width: var(--profile-image-width);
    height: var(--profile-image-width);
    border-radius: 50%;
    border: 1px solid #38444D;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.name-section {
    position: relative;
    font-size: 0.9rem;
}

.name-section span {
    font-weight: 700;
}

.name-section a {
    color: #96a1a9;
    transition: 0.3s ease-out;
}

.name-section a:hover {
    color:#00BA7C;
}

.body-section {
    position: relative;
    overflow-wrap: break-word;
}

.tweet-link {
    text-decoration: none;
    color: #F7F9F9;
}

.reference-link {
    color: #00A770;
}

.tweet-container,
.reply-container {
    position: relative;
    min-width: 80%;
    max-width: var(--tweet-container-max-width);
    max-height: var(--tweet-container-max-height);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 3px solid purple; */
    padding-right: 40px;
}

.attachement-section {
    position: relative;
}

.attachement-section img {
    position: relative;
    object-fit: fill;
    max-width: var(--attachement-image-max-width);
    max-height: var(--attachtment-image-max-height);
    width: auto;
    border-radius: 15px;
    border: 1px solid #38444D;
}

.actions-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    min-width: var(--actions-section-min-width);
    width: auto;
}

.action {
    box-sizing: border-box;
    margin-right: 1rem;
}

/* .blue-action:hover {
    border-radius: 10%;
    background-color: #1d9cf068;
    color: #1D9BF0;
} */


.blue-action:hover {
    color: #1D9BF0;
}


.blue-action i,
.pink-action i,
.green-action i {
    padding: 0.7rem;
    border-radius: 50%;
    transition: 0.4s ease-out;
}


.blue-action:hover i {
    background-color: #1d9cf068;
    color: #1D9BF0;
}



.pink-action:hover {
    color: #F91880;
}

.pink-action:hover i {
    background-color: #f9188153;
    color: #F91880;
}

.green-action:hover {
    color: #00BA7C;
}

.green-action:hover i {
    background-color: #00ba7c41;
    color: #00BA7C;
}

.action button {
    background-color: transparent;
    border: 0;
}

.fa-heart {
    color: #F91880;
}

/* tweet body end */

/* profile page start */

.profile-image-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 20vh;
}

.background-img {
    position: relative;
    background-color: #29333c;
    height: 100%;
    width: 100%;
}

.detail-profile-container {
    position: absolute;
    top: 16%;
    left: 5%;
}

.detail-profile-container img {
    width: calc(var(--profile-image-width) * 2.5);
    height: calc(var(--profile-image-width) * 2.5);
    border: 4px solid #15202B;
}

.profile-detail-wrapper {
    margin-left: 15px;
    margin-top: calc(var(--profile-image-width) * 1.5);
}

.profile-detail-wrapper h2,
.profile-detail-wrapper h3 {
    margin: 0;
}

.tab-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #38444D;
    border-bottom: 1px solid #38444D;
    height: 60px;
}

.tab-btn {
    position: relative;
    width: 33.33333%;
    background-color: #15202B;
    color: #F7F9F9;
    font-size: 1rem;
    height: 100%;
    border: 0px;
    transition: 0.4s ease;
}

.tab-btn:hover {
    background-color: #e3e3e342;
}

.active-tab-btn::after {
    content: "";
    border: 1px solid #00A770;
    border-radius: 30px;
    width: 20%;
    height: 1px;
    background-color: #00A770;
    position: absolute;
    bottom: 0;
    left: 40%;
    transition: 0.5s ease;
}


/* profile page end*/

/*--------------------------------------------------------------data forms --------------------------------------------------*/


.login-form-filter,
.register-form-filter,
.logout-form-filter,
.tweet-form-filter,
.reply-form-filter {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e3741a9;
    z-index: 999;
}

/* login form */
#login-form-container,
#register-form-container,
#logout-form-container,
#tweet-form-container,
#reply-form-container {
    position: relative;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #15202B;
    color: #F7F9F9;
    border-radius: 25px;
    border: 1px solid #38444D;
    box-shadow:  0px 0px  20px #272f36c2;
    height: 60vh;
    height: fit-content;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    z-index: 1000;
}

#logout-form-container button {
    background-color: #F7F9F9;
    box-sizing: border-box;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: #0d1319;
    border-radius: 1rem;
    margin-right: 20px;
    border: 0;
    cursor: pointer;
}

#logout-form-container #logout-cancel-button {
    background-color: #383c3f;
    color: #F7F9F9;
}

#logout-form-container {
    height: fit-content;
    width: 30%;
    padding-bottom: 20px;
}

#tweet-form-container,
#reply-form-container {
    justify-content: flex-start;
}

#login-form,
#tweet-form,
#reply-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    height: 50%;
}

#tweet-form,
#reply-form {
    height: 70%;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.login-form-header,
.signup-form-header,
.logout-form-header,
.tweet-form-header,
.reply-form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.none {
    display: none;
}

.android {
    display: none;
}

/* login form end */

/*--------------------------------------------- ANDROID DISPLAY --------------------------------------------------*/

@media screen and (max-width: 600px) {
    body {
        margin: 0;
        font-size: 0.7rem;
    }

    .android {
        display: unset;
    }

    .suggestions {
        display: none;
    }

    .navbar {
        display: none;
    }

    .main-content {
        left: 0;
        width: 100%;
    }

    .tweet-container,
    .reply-container {
        min-width: unset;
        padding-right: 10px;
    }

    .menu-bar {
        width: 100%;
        left: 0;
        backdrop-filter: none;
        background-color: white;
    }

    .nav-link-wrapper {
        position: absolute;
        bottom: 0%;
        left: 0;
        height: 30%;
    }

    .menu-bar h2 {
        display: none;
    }

    .attachement-section img {
        max-width: 100%;
    }

    .android-profile-info {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 50%;
        padding-left: 10px;
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .android-profile-info img {
        height: 35px;
        width: 35px;
        border-radius: 50%;
    }

    .an-profile-section img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }

    .android-navbar {
        padding-top: 10vh;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 200;
        background-color: beige;
        height: 100vh;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transition: left 0.1s ease;
    }

    .an-profile-section {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }


    .an-user-detail-section {
        margin-top: 10px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        height: 60px;
        margin-left: 10px;
        margin-right: 10px;
        border-bottom: 1px solid black;
    }

    .an-username-section,
    .an-following-section {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    .close-an-button {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .an-links-section {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 50vh;
    }

    #login-form-container,
    #register-form-container,
    #logout-form-container,
    #tweet-form-container,
    #reply-form-container {
        width: 95%;
        height: fit-content;
    }
}